<html ng-app="demo">
<head>
    <title>demo</title>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <script type="text/javascript" src="script/angular.min.js"></script>
    <!--Module-->
    <script type="text/javascript" src="app.js"></script>
    <!--Controllers-->
    <script type="text/javascript" src="controllers/helloController.js"></script>
    <!--Services-->
    <script type="text/javascript" src="services/eventData.js"></script>
    <!--Custom Filters-->
    <script type="text/javascript" src="../filter/durations.js"></script>
</head>
<body>
	<div ng-controller="helloController">
		{{3224/32 | number:2 | currency}}<br/>{{message}}
		
		<h1>Events Registraion App</h1>
		<h2 ng-class="myClass">THIS IS THE COLOR FROM CSS</h2>
    <!--<img ng-src="{{event.imgUrl}}" alt="{{event.name}}" />-->
    <hr/>
		<h3>{{event.name}}</h3>
		<h3>{{event.date | date:'medium'}}</h3>
		<h3>{{event.time}}</h3>

		<ul>
			<li ng-repeat="session in event.sessions|limitTo:4|orderBy:sortorder">
				<h3>{{session.name|uppercase}}</h3>
				<h3>{{session.duration|durations}}</h3>
				<h3>{{session.level}}</h3>
				<h3>{{session.rating}}</h3>
				<button ng-click="upCount(session)" id="inc">inc</button>
				<button ng-click="dnCount(session)" id="dec">dec</button>
			</li>
		</ul>

		<span ng-bind="event.name"></span><br>
		<span ng-bind-template="{{event.name}} {{event.date}}"></span>

  </div>

  <div ng-controller="btnController">
    <button ng-click="php()">PHP</button>
    <button ng-click="js()">JS</button>
    <button ng-click="cpp()">C++</button>
    <button ng-click="java()">JAVA</button>
    <button ng-click="asp()">ASP.NET</button>

    Language clicked is :- {{ defaultValue }}
  </div>



</body>
</html>
